h1 {
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
header{

padding:1rem;
}
footer{
padding:1rem;
}
main{
padding:1rem;
}
nav a {

    text-decoration: none;
    color: black;
}